<.header>
  Listing Links
</.header>

<.table id="links" rows={@links} >
  <:col :let={link} label="Key"><%= link.key %></:col>
  <:col :let={link} label="Url"><%= link.url %></:col>
  <:col :let={link} label="Visit count"><%= link.visit_count %></:col>
  <:action :let={link}>
    <.link phx-click={JS.push("delete", value: %{key: link.key})} data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>

